.header {
  align-self: flex-start;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-wrapper {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.header-navigation {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.routes {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
  height: 100%;
}

.route-wrapper {
  height: 100%;
}

.header-eye {
  width: 60px;
  flex: 0 0 auto;
}

.header a {
  font-size: 1.2em;
  text-decoration: none;
}
