.header {
  width: 100%;
  align-self: flex-start;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding-top: var(--margin-02);
  padding-bottom: var(--margin-02);
}

.header-navigation {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-end;
}

.routes {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--margin-02);
  text-transform: uppercase;
}

.header-eye {
  width: 60px;
  flex: 0 0 auto;
}

.header a {
  font-size: 1.2em;
  text-decoration: none;
}
