.presskit-wrapper {
  width: 100%;
  max-width: max-content;
  margin: auto;
  display: flex;
  flex-flow: column;
  gap: var(--margin-04);
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
}

.presskit-header {
  background: var(--yellow);
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
}

.presskit-header-wrapper {
  width: 100%;
  max-width: max-content;
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--margin-02);
}

.presskit-cover {
  width: 100%;
  max-width: 600px;
  height: auto;
  display: block;
}
