.about-us {
  width: 100%;
  padding-top: var(--margin-10);
  padding-bottom: var(--margin-10);
  background: var(--yellow);
  overflow: hidden;
  position: relative;
}

.about-us-fingers {
  top: -20%;
  right: 10%;
  width: 25%;
  max-width: 600px;
  position: absolute;
}

.about-us-text {
  margin: auto;
  margin-bottom: var(--margin-06);
  text-align: center;
}

.about-us-header {
  margin-bottom: var(--margin-06);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
}

.about-us-header > *:not(:last-child) {
  margin-right: var(--margin-03);
}
