.rich-text-container {
  --flow-space: var(--size-500);

  font-family: var(--font-serif);
  line-height: 2em;
  max-width: 640px;
}

.rich-text-container > * + * {
  margin-top: var(--flow-space, 1em);
}

.rich-text-container blockquote > * + * {
  margin-top: var(--flow-space, 1em);
}

.rich-text-container img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-top: var(--margin-06);
  margin-bottom: var(--margin-06);
}

.rich-text-container ol {
  list-style-type: decimal;
  padding-inline-start: var(--margin-06);
}

.rich-text-container ul li {
  display: flex;
  flex-flow: row;
}

.rich-text-container hr {
  --border-color: var(--white);

  width: 100%;
  height: 1px;
  background-color: transparent;
  border: 1px dashed var(--border-color);
}

@media (min-width: 45em) {
  .rich-text-container h1 {
    font-size: var(--size-800);
  }

  .rich-text-container h2 {
    font-size: var(--size-600);
  }

  .rich-text-container p,
  .rich-text-container ol,
  .rich-text-container ul {
    font-size: var(--size-500);
  }

  .rich-text-container figcaption {
    font-size: var(--size-400);
  }

  .rich-text-container blockquote p {
    font-size: var(--size-500);
    max-width: 40ch;
    max-width: 560px;
  }
}
