.game-card {
  --border-color: #717171;

  background: var(--fg);
}

.game-header {
  color: var(--bg);
  margin-bottom: var(--margin-02);
}

.game-media {
  margin-bottom: var(--margin-02);
}

.game-media img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: var(--margin-02);
  overflow: hidden;
}

.game-actions {
  display: flex;
  flex-flow: column;
  font-size: 1.2em;
  margin-bottom: var(--margin-02);
}

.game-where-to-play {
  display: flex;
  margin-bottom: var(--margin-01);
}

.game-links {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  gap: var(--margin-02);
  margin: 0;
  padding: 0;
}

.game-play-it {
  background: var(--bg);
  color: var(--fg);
  padding: var(--margin-q) var(--margin-04);
  border-radius: var(--margin-01);
  margin-right: var(--margin-02);
}

a.game-trailer {
  text-decoration: none;
  background: var(--bg);
  color: var(--fg);
  padding: var(--margin-q) var(--margin-04);
  border-radius: var(--margin-01);
  margin-right: var(--margin-02);
  width: min-content;
}

.game-description {
  border-top: 2px dashed var(--border-color);
  padding-top: var(--margin-02);
}
