.game-card {
  --border-color: var(--gray);

  background: var(--black);
  display: flex;
  flex-flow: column;
  gap: var(--margin-02);
}

.game-card[data-featured='true'] {
  grid-column: 1 / -1;
}

.game-header {
  display: flex;
  flex-flow: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: var(--margin-02);
}

.game-subtitle {
  font-size: 1.4em;
  color: var(--gray);
}

.game-content {
  display: flex;
  flex-flow: column;
  gap: var(--margin-02);
}

.game-info {
  display: flex;
  flex-flow: column;
  gap: var(--margin-02);
}

.game-card[data-featured='true'] .game-info {
  flex-flow: row;
}

.game-media {
  position: relative;
  overflow: hidden;
  border-radius: var(--margin-02);
}

.game-media img {
  max-width: none;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.game-badge {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--yellow);
  color: var(--black);
  padding: var(--margin-h) var(--margin-04);
  border-radius: 0 0 var(--margin-01) 0;
  font-size: 1.6em;
}

.game-trailer-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: var(--margin-01);
  right: var(--margin-01);
  background: var(--white);
  color: var(--black);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  font-size: 1.6em;
}

.game-trailer-wrapper:hover {
  background: var(--yellow);
}

.game-content-wrapper {
  flex: 1 0 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: var(--margin-02);
}

.game-actions {
  width: 100%;
  display: flex;
  flex-flow: column;
  font-size: 1.2em;
}

.game-actions > *:not(:last-child) {
  margin-bottom: var(--margin-02);
}

.game-where-to-play {
  display: flex;
  list-style: none;
  flex-flow: row;
  gap: var(--margin-02);
  padding: 0;
  margin: 0;
}

.game-where-to-play svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

.game-play-it {
  margin-right: var(--margin-02);
  white-space: nowrap;
  position: relative;
  display: grid;
  height: 16px;
  grid-template-columns: min-content min-content;
}

.game-play-it-text {
  background: var(--yellow);
  color: var(--black);
  padding: var(--margin-q) var(--margin-02);
  border-radius: var(--margin-01) 0 0 var(--margin-01);
  white-space: nowrap;
  position: relative;
}

.game-play-it-links {
  display: flex;
  list-style: none;
  flex-flow: row wrap;
  gap: var(--margin-01);
  padding: 0;
  margin: 0;
}

.game-description {
  border-top: 2px dashed var(--border-color);
  padding-top: var(--margin-02);
  text-align: center;
}

.game-description a,
a.game-action {
  color: var(--yellow);
}

.game-play-it-links a {
  color: var(--white);
}

.game-play-it-links a:hover {
  color: var(--yellow);
}

.game-play-it svg {
  width: auto;
  color: var(--yellow);
  height: 100%;
}

@media screen and (max-width: 600px) {
  .game-badge {
    width: 100%;
    border-radius: 0;
    position: relative;
    display: block;
    text-align: center;
    font-size: 1em;
  }
}

@media screen and (max-width: 900px) {
  .game-header {
    flex-flow: column;
  }
  .game-description {
    max-width: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column;
  }
}

@media screen and (min-width: 900px) {
  [data-featured='true'] .game-header {
    margin-right: var(--margin-04);
    flex: 1 1 40%;
  }
  [data-featured='true'] .game-content {
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: var(--margin-06);
  }
  [data-featured='true'] .game-info {
    flex: 1 1 40%;
  }
  [data-featured='true'] .game-description {
    border-top: 0;
    padding-top: 0;
    height: auto;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
  }
}
