.game-gallery {
}

.game-gallery-header {
  color: var(--yellow);
  margin-bottom: var(--margin-06);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row;
}

.game-gallery-header > *:not(:last-child) {
  margin-right: var(--margin-03);
}

.game-gallery-fire {
  width: 70px;
  height: auto;
}

.game-gallery-grid {
  width: 100%;
  display: grid;
  grid-gap: var(--margin-04);
  grid-template-columns: repeat(auto-fill, minmax(415px, 1fr));
}

@media screen and (max-width: 800px) {
  .game-gallery-grid {
    grid-template-columns: 1fr;
  }
}
