.route {
  display: block;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.route > span {
  display: block;
  width: 100%;
  text-align: center;
  padding-right: var(--margin-02);
  padding-left: var(--margin-02);
}

.route::marker {
  display: none;
}

.route::before {
  display: flex;
  content: '';
  height: var(--margin-01);
  width: 100%;
  transform: scaleY(0);
  transition: all 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--white);
  transform-origin: 0% 0%;
}

.route:hover,
.route[data-active='true'],
.route[data-in-view='true'] {
  background: var(--yellow);
  color: var(--black);
}

.route:hover a {
  color: var(--black);
}

.route:hover::before,
.route[data-active='true']::before,
.route[data-in-view='true']::before {
  height: var(--margin-02);
  transform: scaleY(1);
}

@media screen and (max-width: 450px) {
  .route > span {
    padding-right: var(--margin-h);
    padding-left: var(--margin-h);
  }
}
