.box {
  --border-color: var(--black);

  padding: var(--spacing-02);
  border-radius: var(--spacing-03);
  border: 2px dashed var(--border-color);
}

.box.-inverted {
  --border-color: var(--white);
}
