.footer {
  width: 100%;
  overflow: hidden;
  font-size: 2em;
  background: var(--yellow);
}

.footer-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: var(--margin-05);
}

.footer-hand {
  width: 30%;
  max-width: 400px;
  align-self: flex-end;
  margin-right: var(--margin-02);
}

@media screen and (max-width: 900px) {
  .footer {
    font-size: 1em;
  }
}
