.contact {
  font-size: 3em;
  text-align: center;
  width: 100%;
  padding-top: var(--margin-10);
  padding-bottom: var(--margin-10);
}

.contact-message-wrapper {
  display: block;
  margin-bottom: var(--margin-04);
}

.contact-message {
  color: var(--bg);
}

.contact a {
  color: var(--white);
}

.contact a:hover {
  color: var(--bg);
}

@media screen and (max-width: 600px) {
  .contact {
    font-size: 1.8em;
  }
}
