.devlog-header {
  background: var(--yellow);
  padding-top: var(--margin-04);
  padding-bottom: var(--margin-04);
}

.devlog-header h1 {
  font-size: 3.5em;
  margin-bottom: 8px;
}

.devlog-header-wrapper {
  width: 100%;
  max-width: max-content;
  margin: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--margin-02);
}

.devlog-logo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.devlog-hand {
  height: 100px;
  width: auto;
  display: block;
  margin-right: var(--margin-02);
}

.devlog-text {
  height: 50px;
  width: auto;
  display: block;
}

.devlog-posts {
  padding-top: var(--margin-10);
  padding-bottom: var(--margin-10);
  display: flex;
  flex-flow: column;
  gap: var(--margin-06);
}

@media screen and (max-width: 900px) {
  .devlog-header-wrapper {
    flex-flow: column;
  }
}
