.social {
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: var(--margin-02);
  padding: 0;
  margin: 0;
}

.social svg {
  width: 32px;
  height: 32px;
}

.social.-l svg {
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 900px) {
  .social.-l svg {
    width: 32px;
    height: 32px;
  }
}
