.home-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.hero-wrapper {
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  background: var(--bg);
}

.home-info {
  margin-bottom: 20vh;
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: var(--margin-02);
}
