:root {
  --white: #e7e7e7;
  --yellow: #ffbc2f;
  --black: #252323;
  --gray: #717171;
  --gray-02: #282828;

  --font-sans: sans-serif;
  --font-mono: 'Space Mono', monospace;
  --font-serif: 'Kiwi Maru', serif;

  --max-width: 800px;

  --margin-q: calc(var(--margin-01) / 4);
  --margin-h: calc(var(--margin-01) / 2);
  --margin-01: 8px;
  --margin-02: calc(var(--margin-01) * 2);
  --margin-03: calc(var(--margin-01) * 3);
  --margin-04: calc(var(--margin-01) * 4);
  --margin-05: calc(var(--margin-01) * 5);
  --margin-06: calc(var(--margin-01) * 6);
  --margin-07: calc(var(--margin-01) * 7);
  --margin-08: calc(var(--margin-01) * 8);
  --margin-09: calc(var(--margin-01) * 9);
  --margin-10: calc(var(--margin-01) * 10);
  --margin-13: calc(var(--margin-01) * 13);

  --max-width-wraper: 100em;

  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.33rem;
  --size-600: 1.77rem;
  --size-700: 2.36rem;
  --size-800: 3.15rem;
  --size-900: 4.2rem;

  --icon-size: 30px;
}
