.manita {
  display: flex;
  flex-flow: row;
}

.manita:not(:last-child) {
  margin-bottom: var(--margin-04);
}

.manita.-flipped {
  flex-flow: row-reverse;
}

.manita > *:not(:last-child) {
  margin-right: var(--margin-04);
}

.manita:nth-child(even) > *:not(:last-child) {
  margin-right: 0;
  margin-left: var(--margin-04);
}

.manita-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--margin-02);
  flex-flow: row;
  margin-bottom: var(--margin-01);
}

.manita.-flipped .manita-header {
  justify-content: flex-end;
}

.manita-header h3 {
  color: var(--white);
}

.manita-media {
  width: 300px;
  height: auto;
  flex: 0 0 auto;
}

.manita-info {
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

.manita-description {
  text-align: center;
  margin-bottom: var(--margin-02);
}

.manita-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--margin-01);
  width: 100%;
}

.manita.-flipped .manita-links {
  justify-content: flex-end;
}

.manita-links svg {
  width: var(--icon-size);
  height: var(--icon-size);
}

@media screen and (max-width: 900px) {
  .manita {
    display: flex;
    flex-flow: column;
  }
  .manita:nth-child(even) {
    flex-flow: column;
  }
}
